# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Reports
reports/pdf/*
reports/csv/*

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/